{% extends "default.njk" %}

{% block main %}
	<div class="position-relative p-5 text-center">
		<h1 class="inter pb-4 md-align-l">Choose a game setting</h1>

		<div class="d-grid gap-2 col-lg-6 mx-auto" hx-select="main" hx-target="main" hx-push-url="true">
			<button hx-get="classroom-role" hx-vals='{"mode": "multi-player", "setting": "classroom"}'
				class="btn btn-lg purple-btn mb-3" type="button">
				<b class="fs-4">Classroom</b> <span class="material-symbols-outlined btn-arrow-icon">arrow_forward_ios</span><br>
				<p class="pt-2 mb-0">The player answers a series of questions and score as much points.</p>
			</button>
			<button hx-get="choose-game-topic" hx-vals='{"mode": "multi-player", "setting": "competitive"}'
				class="btn btn-lg yellow-btn mb-3" type="button">
				<b class="fs-4">Competitive</b> <span class="material-symbols-outlined btn-arrow-icon">arrow_forward_ios</span><br>
				<p class="pt-2 mb-0">Challenge friends or random opponents and climb the leaderboard.</p>
			</button>
		</div>
	</div>
{% endblock %}
